SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=cemtrabi.com.br,www.cemtrabi.com.br
CSRF_TRUSTED_ORIGINS=https://cemtrabi.com.br,https://www.cemtrabi.com.br

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
ENCAMINHAMENTO_EMAIL_DESTINO=cemtrabivr@gmail.com

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
